{% extends 'base.html' %} {% block content %}
<div class="wrapper wrapper-sidebar-navbar">
    {% include 'components/dashboard_leftsidebar.html' %}

    <div class="wrapper-content">
        <div class="wrapper-content__header"></div>
        <div class="wrapper-content__body">
            <div id="block_2">
                <div class="orders-history">
                    <div class="bg"></div>
                    <div class="divider-top"></div>
                    <div class="divider-bottom"></div>
                    <div class="container-fluid">
                        <div class="row px-lg-4">
                            <div class="col">
                                <div class="orders-history__margin-tab">
                                    <div class="component_status_tabs">
                                        <div class="">
                                            <ul class="nav nav-pills tab">
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link"
                                                        href="/orders"
                                                        >All</a
                                                    >
                                                </li>
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link"
                                                        href="/orders/pending"
                                                        >Pending</a
                                                    >
                                                </li>
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link"
                                                        href="/orders/inprogress"
                                                        >In progress</a
                                                    >
                                                </li>
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link"
                                                        href="/orders/completed"
                                                        >Completed</a
                                                    >
                                                </li>
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link"
                                                        href="/orders/partial"
                                                        >Partial</a
                                                    >
                                                </li>
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link"
                                                        href="/orders/processing"
                                                        >Processing</a
                                                    >
                                                </li>
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link active"
                                                        href="/orders/canceled"
                                                        >Canceled</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row px-lg-4">
                            <div class="col">
                                <div class="orders-history__margin-table">
                                    <div class="table-bg component_table">
                                        <div class="table-wr">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div
                                                                class="orders-history__margin-search"
                                                            >
                                                                <div
                                                                    class="component_form_group component_button_search"
                                                                >
                                                                    <div
                                                                        class=""
                                                                    >
                                                                        <form
                                                                            action="/orders"
                                                                            method="get"
                                                                            id="history-search"
                                                                        >
                                                                            <div
                                                                                class="input-group"
                                                                            >
                                                                                <input
                                                                                    type="text"
                                                                                    name="search"
                                                                                    class="form-control"
                                                                                    value=""
                                                                                    placeholder="Search"
                                                                                />
                                                                                <div
                                                                                    class="input-group-append"
                                                                                >
                                                                                    <button
                                                                                        class="btn btn-secondary"
                                                                                        type="submit"
                                                                                    >
                                                                                        <span
                                                                                            class="far fa-search"
                                                                                        ></span>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div
                                                class="table-responsive table-responsive__search"
                                            >
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Date</th>
                                                            <th>Link</th>
                                                            <th>Charge</th>
                                                            <!-- <th class="nowrap">
                                                                Start count
                                                            </th> -->
                                                            <th>Quantity</th>
                                                            <th>Service</th>
                                                            <th>Status</th>
                                                            <!-- <th>Remains</th> -->
                                                        </tr>
                                                    </thead>
                                                    {% for order in orders %}
                                                    <tbody>
                                                        <tr>
                                                            <td data-label="ID">
                                                                {{order.id}}
                                                            </td>
                                                            <td
                                                                data-label="Date"
                                                            >
                                                                <span
                                                                    class="nowrap"
                                                                    >{{order.order_placed|date:"Y-m-d"}}</span
                                                                >
                                                                <span
                                                                    class="nowrap"
                                                                    >{{order.order_placed|date:"H:i:s"}}</span
                                                                >
                                                            </td>
                                                            <td
                                                                data-label="Link"
                                                                class="table-link component_service_link"
                                                            >
                                                                <a
                                                                    href="{{order.link}}"
                                                                    target="_blank"
                                                                    >{{order.link}}</a
                                                                >
                                                            </td>
                                                            <td
                                                                data-label="Charge"
                                                            >
                                                                {{order.charge}}
                                                            </td>
                                                            <!-- <td
                                                                data-label="Start count"
                                                                class="nowrap"
                                                            >
                                                                0
                                                            </td> -->
                                                            <td
                                                                data-label="Quantity"
                                                            >
                                                            {{order.quantity}}
                                                            </td>
                                                            <td
                                                                data-label="Service"
                                                                class="table-service"
                                                            >
                                                            {{order.service.name}}
                                                            </td>
                                                            <td
                                                                data-label="Status"
                                                            >
                                                            {{order.status}}
                                                            </td>
                                                            <!-- <td
                                                                data-label="Remains"
                                                            >
                                                                1000
                                                            </td> -->
                                                        </tr>

                                                      
                                                    </tbody>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row px-lg-4">
                            <div class="col-5">
                                <nav class="component_pagination">
                                    <div class=""></div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-content__footer"></div>
            </div>
        </div>
    </div>
</div>

<style>
    @media (max-width: 991px) {
        .wrapper-sidebar-navbar {
            flex-direction: column;
        }
    }
    .tab .nav-item .active {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #07264a;
        background: #ffffff;
        border-color: #000000;
    }
    .tab .nav-item {
        margin-right: 8px;
    }
    .tab .nav-item .nav-link {
        font-size: 14px;
        letter-spacing: 0px;
        font-weight: 500;
        font-style: normal;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.2);
        border-color: #000000;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-style: solid;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        box-shadow: none;
    }
    .table {
        margin-bottom: 0px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .table thead:first-child tr th:first-child {
        padding-left: 16px;
        border-top-left-radius: 16px;
    }
    .table thead:first-child tr th:last-child {
        padding-right: 16px;
        border-top-right-radius: 16px;
    }
    .table thead:last-of-type tr th {
        border-top-width: 0;
        border-bottom-width: 0;
        border-bottom-style: solid;
        border-bottom-color: transparent;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .table-wr {
        box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.08);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .table thead:first-child tr th {
        font-size: 14px;
        letter-spacing: 0px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 24px;
        padding-left: 24px;
        border-top: none;
        border-left: none;
        border-right: none;
        vertical-align: middle;
        height: 56px;
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        color: #61768e !important;
        background: #ffffff !important;
    }
    .table-responsive__search {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .table tbody tr td {
        font-size: 16px !important;
        letter-spacing: 0px !important;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        padding-right: 24px;
        vertical-align: middle;
        height: 40px;
        color: #334e6e;
        background: #ffffff;
        border-color: #dbd7e8;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #dbd7e8;
    }
    .table tbody tr:nth-child(odd) td {
        background: #e4e1ee;
    }
</style>
{% endblock content %}
