{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>SASTAPROVIDER - LogIn</title>
        <meta
            name="keywords"
            content="smm panel,best smm panel,cheapest smm panel,main smm panel,main smm provider,sasta,provider,smm,sast provider,api,social media"
        />
        <meta name="description" content="" />

        <link
            rel="shortcut icon"
            type="image/ico"
            href="https://cdn.mypanel.link/sl1v5i/s3t8dphui4mfr9se.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="https://cdn.mypanel.link/sl1v5i/s3t8dphui4mfr9se.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="512x512"
            href="https://cdn.mypanel.link/sl1v5i/s3t8dphui4mfr9se.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="https://cdn.mypanel.link/sl1v5i/s3t8dphui4mfr9se.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="https://cdn.mypanel.link/sl1v5i/s3t8dphui4mfr9se.png"
        />
        <link
            rel="apple-touch-icon"
            href="https://cdn.mypanel.link/sl1v5i/s3t8dphui4mfr9se.png"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/bootstrap.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/bootstrap.data.css' %}"
        />
    </head>
    <body>
        {% block content %} {% endblock content %}
        <script
            type="text/javascript"
            src="{% static 'js/file1.js' %}"
        ></script>
        <script
            type="text/javascript"
          src="{% static 'js/file3.js' %}"
        ></script>
        <script
            type="text/javascript"
          src="{% static 'js/file4.js' %}"
        ></script>
    </body>
</html>
