{% load get_account_pay %}    <!-- Main variables *content* -->
    <div id="block_77">
        <div class="totals">
            <div class="bg"></div>
            <div class="divider-top"></div>
            <div class="divider-bottom"></div>
            <div class="container-fluid">
                <div
                    class="row align-items-start justify-content-start"
                >
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-2">
                        <div
                            class="card h-100"
                            style="
                                padding-top: 24px;
                                padding-bottom: 24px;
                                border-left-width: 0px;
                                border-right-width: 0px;
                                border-bottom-width: 0px;
                                border-top-width: 0px;
                                box-shadow: 0 8px 24px 0
                                    rgba(0, 0, 0, 0.32);
                                border-style: solid;
                            "
                        >
                            <div class="totals-block__card">
                                <div class="totals-block__card-left">
                                    <div
                                        class="totals-block__icon-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary"
                                    >
                                        <span
                                            class="totals-block__icon style-text-primary far fa-list-ul"
                                            style="
                                                font-size: 38px;
                                                transform: rotate(0deg);

                                                text-shadow: none;
                                                border-radius: 0px;
                                            "
                                        ></span>
                                    </div>
                                </div>
                                <div class="totals-block__card-right">
                                    <div class="totals-block__count">
                                        <div
                                            class="totals-block__count-value style-text-primary"
                                            style="
                                                font-size: 36px;
                                                line-height: 36px;
                                            "
                                        >
                                            {{request.user.username}}
                                        </div>
                                    </div>
                                    <div
                                        class="totals-block__card-name"
                                    >
                                        <p>Welcome!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-2">
                        <div
                            class="card h-100"
                            style="
                                padding-top: 24px;
                                padding-bottom: 24px;
                                border-left-width: 0px;
                                border-right-width: 0px;
                                border-bottom-width: 0px;
                                border-top-width: 0px;
                                box-shadow: 0 8px 24px 0
                                    rgba(0, 0, 0, 0.32);
                                border-style: solid;
                            "
                        >
                            <div class="totals-block__card">
                                <div class="totals-block__card-left">
                                    <div
                                        class="totals-block__icon-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary"
                                    >
                                        <span
                                            class="totals-block__icon style-text-primary far fa-clipboard-list"
                                            style="
                                                font-size: 38px;
                                                transform: rotate(0deg);

                                                text-shadow: none;
                                                border-radius: 0px;
                                            "
                                        ></span>
                                    </div>
                                </div>
                                <div class="totals-block__card-right">
                                    <div class="totals-block__count">
                                        <div
                                            class="totals-block__count-value style-text-primary"
                                            style="
                                                font-size: 36px;
                                                line-height: 36px;
                                            "
                                        >
                                        ₹{% get_spent_balance user    %}

                                        </div>
                                    </div>
                                    <div
                                        class="totals-block__card-name"
                                    >
                                        <p>Spent balance</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-2">
                        <div
                            class="card h-100"
                            style="
                                padding-top: 24px;
                                padding-bottom: 24px;
                                border-left-width: 0px;
                                border-right-width: 0px;
                                border-bottom-width: 0px;
                                border-top-width: 0px;
                                box-shadow: 0 8px 24px 0
                                    rgba(0, 0, 0, 0.32);
                                border-style: solid;
                            "
                        >
                            <div class="totals-block__card">
                                <div class="totals-block__card-left">
                                    <div
                                        class="totals-block__icon-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary"
                                    >
                                        <span
                                            class="totals-block__icon style-text-primary far fa-users"
                                            style="
                                                font-size: 38px;
                                                transform: rotate(0deg);

                                                text-shadow: none;
                                                border-radius: 0px;
                                            "
                                        ></span>
                                    </div>
                                </div>
                                <div class="totals-block__card-right">
                                    <div class="totals-block__count">
                                        <div
                                            class="totals-block__count-value style-text-primary"
                                            style="
                                                font-size: 36px;
                                                line-height: 36px;
                                            "
                                        >
                                            205434
                                        </div>
                                    </div>
                                    <div
                                        class="totals-block__card-name"
                                    >
                                        <p>Panel orders</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-2 mt-2">
                        <div
                            class="card h-100"
                            style="
                                padding-top: 24px;
                                padding-bottom: 24px;
                                border-left-width: 0px;
                                border-right-width: 0px;
                                border-bottom-width: 0px;
                                border-top-width: 0px;
                                box-shadow: 0 8px 24px 0
                                    rgba(0, 0, 0, 0.32);
                                border-style: solid;
                            "
                        >
                            <div class="totals-block__card">
                                <div class="totals-block__card-left">
                                    <div
                                        class="totals-block__icon-preview style-bg-primary-alpha-10 style-border-radius-default style-text-primary"
                                    >
                                        <span
                                            class="totals-block__icon style-text-primary far fa-clipboard-list-check"
                                            style="
                                                font-size: 38px;
                                                transform: rotate(0deg);

                                                text-shadow: none;
                                                border-radius: 0px;
                                            "
                                        ></span>
                                    </div>
                                </div>
                                <div class="totals-block__card-right">
                                    <div class="totals-block__count">
                                        <div
                                            class="totals-block__count-value style-text-primary"
                                            style="
                                                font-size: 36px;
                                                line-height: 36px;
                                            "
                                        >
                                            ₹{% get_account_balance user    %}
                                        </div>
                                    </div>
                                    <div
                                        class="text-nowrap totals-block__card-name"
                                    >
                                        <p >Account balance</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>