<div id="block_85">
    <div class="text-block">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row px-lg-4 text-white">
                <div class="col-12">
                    <div
                        class="text-block__description style-text-white"
                    >
                        <p class="text-center">
                            <span style="font-size: 20px"
                                ><strong style="font-weight: bold"
                                    >NEW YEAR OFFER🎉</strong
                                ></span
                            >
                        </p>
                        <p><br /></p>
                        <p class="text-center">
                            <span style="color: rgba(255, 0, 0, 1)"
                                ><span style="font-size: 36px"
                                    ><strong
                                        style="font-weight: bold"
                                        >5%</strong
                                    ></span
                                ></span
                            ><span style="font-size: 36px"
                                ><strong style="font-weight: bold">
                                    BONUS ON
                                </strong></span
                            ><span style="color: rgba(234, 2, 2, 1)"
                                ><span style="font-size: 36px"
                                    ><strong
                                        style="font-weight: bold"
                                        >ADDING</strong
                                    ></span
                                ></span
                            ><span style="font-size: 36px"
                                ><strong style="font-weight: bold">
                                    FUND [</strong
                                ></span
                            ><span
                                style="color: rgba(255, 229, 0, 1)"
                                ><span style="font-size: 36px"
                                    ><strong
                                        style="font-weight: bold"
                                        >MIN 5000/-</strong
                                    ></span
                                ></span
                            ><span style="font-size: 36px"
                                ><strong style="font-weight: bold"
                                    >]</strong
                                ></span
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>