<div class="col-lg-5">
    <div
        class="component_content_card component_content_button component_content_headers"
    >
        <div class="card">
            <div class="new-order__content-title">
                <div class="position-relative">
                    <h3>
                        Need to make your online
                        presence noticeable?
                    </h3>
                </div>
            </div>
            <div class="new-order__content-text">
                <p>
                    We can help you with that! You
                    can achieve great exposure
                    online using automated SMM
                    services we offer on our panel.
                </p>
                <p><br /></p>
                <p>
                    All you have to do is to place
                    an order, and everything will be
                    done for you. We accept
                    different payment methods to
                    make adding funds to your
                    account super convenient.
                </p>
                <p><br /></p>
            </div>
        </div>
    </div>
</div>