<div class="col-lg-5">
    <div
        class="component_content_card component_content_button component_content_headers"
    >
        <div class="card">
            <div class="new-order__content-title">
                <div class="position-relative">
                    <h3>Need to make your online presence noticeable?</h3>
                </div>
            </div>
            <div class="new-order__content-text">
                <p>
                    We can help you with that! You can achieve great exposure
                    online using automated SMM services we offer on our panel.
                </p>
                <p><br /></p>
                <p>
                    All you have to do is to place an order, and everything will
                    be done for you. We accept different payment methods to make
                    adding funds to your account super convenient.
                </p>
                <p><br /></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-5">
    <div class="component_content_card component_content_button">
        <div class="card">
            <div class="new-order__content-image">
                <a
                    href="https://image.freepik.com/free-vector/makar-sankranti-white-greeting-with-kites-confetti_1017-35842.jpg"
                    target="_self"
                >
                    <img
                        src="https://cdn.mypanel.link/o82h9f/ckwbn56e10zac8rl.jpg"
                        class="img-fluid"
                    />
                </a>
            </div>
            <div class="new-order__content-title">
                <div class="position-relative">
                    <div>
                        <p><br /></p>
                    </div>
                </div>
            </div>
            <div class="new-order__content-text">
                <h3>Exclusive Deals</h3>
                <p>Don’t wait. The time will never be just right.</p>
                <p><br /></p>
                <p>
                    <strong style="font-weight: bold"
                        >💎 APIs &amp; Bigreseller Ask For Manual Rate</strong
                    >
                </p>
                <p>
                    <a
                        target="_self"
                        href="https://api.whatsapp.com/send?phone=+919151641427"
                        ><br />
                        &nbsp;</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>
