<span class="component_private_sidebar">
    <div class="component-sidebar_wrapper">
        <div
            class="
                sidebar-block__left
                component-sidebar component-sidebar-with-navbar
                editor__component-wrapper
                component_private_navbar
            "
        >
            <div class="component-sidebar__menu-wrapper">
                <div class="sidebar-block__top-brand">
                    <div class="component-navbar-logo">
                        <a href="/en">
                            <img
                                src="https://cdn.mypanel.link/sl1v5i/omwktrjr2pkj9gi5.png"
                                class="sidebar-block__top-logo"
                                alt=""
                                title=""
                            />
                        </a>
                    </div>
                </div>
                <ul class="component-sidebar__menu sidebar-block__left-menu">
                    <li
                        class="
                            component-sidebar__menu-item
                            component-sidebar__menu-item-active
                        "
                    >
                        <a class="component-sidebar__menu-item-link" href="/">
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-cart-plus"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >New order</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/services"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fad fa-bars"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >Services</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/orders"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-bags-shopping"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >Orders</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/refill"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-gas-pump"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >Refill</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/addfunds"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fab fa-cc-amazon-pay"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >Add funds</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/api"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fad fa-signal-stream"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >API</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/affiliates"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-network-wired"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >Affiliates</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/child-panels"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fad fa-browser"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >Child panel</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/tickets"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fas fa-ticket-alt"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >Tickets</span
                            >
                        </a>
                    </li>
                    <li class="component-sidebar__menu-item">
                        <a
                            class="component-sidebar__menu-item-link"
                            href="/massorder"
                        >
                            <span class="sidebar-block__menu-item-icon">
                                <span class="fad fa-truck"></span>
                            </span>
                            <span class="component-sidebar__menu-item-name"
                                >Mass order</span
                            >
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</span>
