{% load static %}
{% load get_account_pay %}
<div id="block_34" class="component_private_navbar">
    <span class="component_private_navbar">
        <div class="component-navbar-private__wrapper">
            <div
                class="sidebar-block__top-static component-navbar component-navbar__navbar-private editor__component-wrapper"
            >
                <div>
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="sidebar-block__top-brand">
                            <div class="component-navbar-logo">
                                <a href="{% url 'dashboard' %}">
                                    <img
                                        src="{% static 'images/logobest.jpeg' %}"
                                        class="sidebar-block__top-logo"
                                        alt=""
                                        title=""
                                    />
                                </a>
                            </div>
                        </div>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbar-collapse-34"
                            aria-controls="navbar-collapse-34"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-burger">
                                <span class="navbar-burger-line"></span>
                            </span>
                        </button>
                        <div
                            class="collapse navbar-collapse"
                            id="navbar-collapse-34"
                        >
                            <div class="d-flex component-navbar-collapse">
                                <ul class="navbar-nav navbar-nav-sidebar-menu">
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private component-navbar-nav-link-active__navbar-private"
                                            href="{% url 'dashboard' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-cart-plus"
                                                ></span>
                                            </span>
                                            New order
                                        </a>
                                    </li>
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'services' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fad fa-bars"
                                                ></span>
                                            </span>
                                            Services
                                        </a>
                                    </li>
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'dashboard' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-bags-shopping"
                                                ></span>
                                            </span>
                                            Orders
                                        </a>
                                    </li>
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/refill"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-gas-pump"
                                                ></span>
                                            </span>
                                            Refill
                                        </a>
                                    </li> -->
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'dashboard' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fab fa-cc-amazon-pay"
                                                ></span>
                                            </span>
                                            Add funds
                                        </a>
                                    </li>
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/api"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fad fa-signal-stream"
                                                ></span>
                                            </span>
                                            API
                                        </a>
                                    </li> -->
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/affiliates"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-network-wired"
                                                ></span>
                                            </span>
                                            Affiliates
                                        </a>
                                    </li> -->
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/child-panels"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fad fa-browser"
                                                ></span>
                                            </span>
                                            Child panel
                                        </a>
                                    </li> -->
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'tickets' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-ticket-alt"
                                                ></span>
                                            </span>
                                            Tickets
                                        </a>
                                    </li>
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/massorder"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fad fa-truck"
                                                ></span>
                                            </span>
                                            Mass order
                                        </a>
                                    </li> -->
                                </ul>
                                <ul class="navbar-nav navbar-nav-currencies">
                                    <li
                                        class="nav-item d-flex align-items-center component-navbar-nav-item component-navbar-private-nav-item component-navbar-balance-wrap__navbar-private"
                                    >
                                        <a
                                            class="component-navbar-balance-item__navbar-private"
                                            >₹{% get_account_balance user %} </a
                                        >
                                    </li>
                                </ul>
                                <ul class="navbar-nav">
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/account"
                                            >Account</a
                                        >
                                    </li>
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'logout' %}"
                                            >Logout</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </span>
    <span class="component_private_sidebar">
        <div class="component-sidebar_wrapper">
            <div
                class="sidebar-block__left component-sidebar component-sidebar-with-navbar editor__component-wrapper component_private_navbar"
            >
                <div class="component-sidebar__menu-wrapper">
                    <div class="sidebar-block__top-brand">
                        <div class="component-navbar-logo">
                            <a href="{% url 'dashboard' %}">
                                <img
                                    src="{% static 'images/logobest.jpeg' %}"
                                    class="sidebar-block__top-logo"
                                    alt=""
                                    title=""
                                />
                            </a>
                        </div>
                    </div>
                    <ul
                        class="component-sidebar__menu sidebar-block__left-menu"
                    >
                        <li
                            class="component-sidebar__menu-item component-sidebar__menu-item-active"
                        >
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'dashboard' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-cart-plus"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >New order</span
                                >
                            </a>
                        </li>
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'services' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fad fa-bars"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Services</span
                                >
                            </a>
                        </li>
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'orders' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-bags-shopping"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Orders</span
                                >
                            </a>
                        </li>
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/refill"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-gas-pump"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Refill</span
                                >
                            </a>
                        </li> -->
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/addfunds"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fab fa-cc-amazon-pay"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Add funds</span
                                >
                            </a>
                        </li>
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/api"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fad fa-signal-stream"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >API</span
                                >
                            </a>
                        </li> -->
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/affiliates"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-network-wired"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Affiliates</span
                                >
                            </a>
                        </li> -->
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/child-panels"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fad fa-browser"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Child panel</span
                                >
                            </a>
                        </li> -->
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'tickets' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-ticket-alt"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Tickets</span
                                >
                            </a>
                        </li>
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/massorder"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fad fa-truck"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Mass order</span
                                >
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </span>
</div>
