<div id="block_33">
    <div class="header-with-text">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-block__title style-header-text">
                        <h2 class="text-center">
                            <span style="text-align: CENTER">FAQ</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-block__description style-header-text">
                        <p class="text-center">
                            <span style="text-align: CENTER"
                                >Below you can see answers to some of the most
                                popular questions on our panel.</span
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="block_24">
    <div class="faq">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-faq__card">
                                <span class="style-collapsed-background">
                                    <div
                                        class="card card__faq collapsed"
                                        data-toggle="collapse"
                                        data-target="#faq-block-24-1"
                                        aria-expanded="false"
                                        aria-controls="#faq-block-24-1"
                                    >
                                        <div class="block-faq__card-content">
                                            <div class="card-content__head">
                                                <div
                                                    class="
                                                        head__title
                                                        style-faq-card-title
                                                    "
                                                >
                                                    <p>
                                                        <strong
                                                            style="
                                                                font-weight: bold;
                                                            "
                                                            >What is an SMM
                                                            panel?</strong
                                                        >
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        head__icon
                                                        style-collapsed-icon
                                                    "
                                                >
                                                    <div
                                                        class="
                                                            faq-block__icon
                                                            style-collapse-icon
                                                            fas
                                                        "
                                                        style="font-size: 24px"
                                                    ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="card card__faq-desc"
                                        style="padding-top: 8px"
                                    >
                                        <div
                                            class="card-content__desc collapse"
                                            id="faq-block-24-1"
                                        >
                                            <div
                                                class="
                                                    desc__body
                                                    style-faq-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    An SMM panel is an online
                                                    store where people can buy
                                                    different types of SMM
                                                    services.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-faq__card">
                                <span class="style-collapsed-background">
                                    <div
                                        class="card card__faq collapsed"
                                        data-toggle="collapse"
                                        data-target="#faq-block-24-2"
                                        aria-expanded="false"
                                        aria-controls="#faq-block-24-2"
                                    >
                                        <div class="block-faq__card-content">
                                            <div class="card-content__head">
                                                <div
                                                    class="
                                                        head__title
                                                        style-faq-card-title
                                                    "
                                                >
                                                    <p>
                                                        <strong
                                                            style="
                                                                font-weight: bold;
                                                            "
                                                            >What kinds of SMM
                                                            services do you
                                                            provide
                                                            here?</strong
                                                        >
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        head__icon
                                                        style-collapsed-icon
                                                    "
                                                >
                                                    <div
                                                        class="
                                                            faq-block__icon
                                                            style-collapse-icon
                                                            fas
                                                        "
                                                        style="font-size: 24px"
                                                    ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="card card__faq-desc"
                                        style="padding-top: 8px"
                                    >
                                        <div
                                            class="card-content__desc collapse"
                                            id="faq-block-24-2"
                                        >
                                            <div
                                                class="
                                                    desc__body
                                                    style-faq-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    Our panel provides different
                                                    types of SMM services, such
                                                    as likes, views, followers,
                                                    etc.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-faq__card">
                                <span class="style-collapsed-background">
                                    <div
                                        class="card card__faq collapsed"
                                        data-toggle="collapse"
                                        data-target="#faq-block-24-3"
                                        aria-expanded="false"
                                        aria-controls="#faq-block-24-3"
                                    >
                                        <div class="block-faq__card-content">
                                            <div class="card-content__head">
                                                <div
                                                    class="
                                                        head__title
                                                        style-faq-card-title
                                                    "
                                                >
                                                    <p>
                                                        <strong
                                                            style="
                                                                font-weight: bold;
                                                            "
                                                            >Is it safe to buy
                                                            SMM services offered
                                                            here?</strong
                                                        >
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        head__icon
                                                        style-collapsed-icon
                                                    "
                                                >
                                                    <div
                                                        class="
                                                            faq-block__icon
                                                            style-collapse-icon
                                                            fas
                                                        "
                                                        style="font-size: 24px"
                                                    ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="card card__faq-desc"
                                        style="padding-top: 8px"
                                    >
                                        <div
                                            class="card-content__desc collapse"
                                            id="faq-block-24-3"
                                        >
                                            <div
                                                class="
                                                    desc__body
                                                    style-faq-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    Yes, it's completely safe!
                                                    Our panel is secure and the
                                                    quality of our services
                                                    won't disappoint you.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-faq__card">
                                <span class="style-collapsed-background">
                                    <div
                                        class="card card__faq collapsed"
                                        data-toggle="collapse"
                                        data-target="#faq-block-24-4"
                                        aria-expanded="false"
                                        aria-controls="#faq-block-24-4"
                                    >
                                        <div class="block-faq__card-content">
                                            <div class="card-content__head">
                                                <div
                                                    class="
                                                        head__title
                                                        style-faq-card-title
                                                    "
                                                >
                                                    <p>
                                                        <strong
                                                            style="
                                                                font-weight: bold;
                                                            "
                                                            >How is the mass
                                                            order feature
                                                            used?</strong
                                                        >
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        head__icon
                                                        style-collapsed-icon
                                                    "
                                                >
                                                    <div
                                                        class="
                                                            faq-block__icon
                                                            style-collapse-icon
                                                            fas
                                                        "
                                                        style="font-size: 24px"
                                                    ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="card card__faq-desc"
                                        style="padding-top: 8px"
                                    >
                                        <div
                                            class="card-content__desc collapse"
                                            id="faq-block-24-4"
                                        >
                                            <div
                                                class="
                                                    desc__body
                                                    style-faq-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    The mass order feature
                                                    really helps save time when
                                                    you have many orders. With
                                                    its help, you can place
                                                    several orders with
                                                    different links at once.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-faq__card">
                                <span class="style-collapsed-background">
                                    <div
                                        class="card card__faq collapsed"
                                        data-toggle="collapse"
                                        data-target="#faq-block-24-5"
                                        aria-expanded="false"
                                        aria-controls="#faq-block-24-5"
                                    >
                                        <div class="block-faq__card-content">
                                            <div class="card-content__head">
                                                <div
                                                    class="
                                                        head__title
                                                        style-faq-card-title
                                                    "
                                                >
                                                    <p>
                                                        <strong
                                                            style="
                                                                font-weight: bold;
                                                            "
                                                            >How is Drip-feed
                                                            used?</strong
                                                        >
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        head__icon
                                                        style-collapsed-icon
                                                    "
                                                >
                                                    <div
                                                        class="
                                                            faq-block__icon
                                                            style-collapse-icon
                                                            fas
                                                        "
                                                        style="font-size: 24px"
                                                    ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="card card__faq-desc"
                                        style="padding-top: 8px"
                                    >
                                        <div
                                            class="card-content__desc collapse"
                                            id="faq-block-24-5"
                                        >
                                            <div
                                                class="
                                                    desc__body
                                                    style-faq-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    It's possible to build the
                                                    engagement on social media
                                                    accounts as quickly as you
                                                    want using Drip-feed. If you
                                                    order, for example, 1000
                                                    likes on your IG post, you
                                                    can either get all 1000
                                                    right away or make the
                                                    process more seamless. As an
                                                    option, 100 likes per day
                                                    for 10 days.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-faq__card">
                                <span class="style-collapsed-background">
                                    <div
                                        class="card card__faq collapsed"
                                        data-toggle="collapse"
                                        data-target="#faq-block-24-6"
                                        aria-expanded="false"
                                        aria-controls="#faq-block-24-6"
                                    >
                                        <div class="block-faq__card-content">
                                            <div class="card-content__head">
                                                <div
                                                    class="
                                                        head__title
                                                        style-faq-card-title
                                                    "
                                                >
                                                    <p>
                                                        <strong
                                                            style="
                                                                font-weight: bold;
                                                            "
                                                            >What are mass
                                                            orders for?</strong
                                                        >
                                                    </p>
                                                </div>
                                                <div
                                                    class="
                                                        head__icon
                                                        style-collapsed-icon
                                                    "
                                                >
                                                    <div
                                                        class="
                                                            faq-block__icon
                                                            style-collapse-icon
                                                            fas
                                                        "
                                                        style="font-size: 24px"
                                                    ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="card card__faq-desc"
                                        style="padding-top: 8px"
                                    >
                                        <div
                                            class="card-content__desc collapse"
                                            id="faq-block-24-6"
                                        >
                                            <div
                                                class="
                                                    desc__body
                                                    style-faq-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    You can use the mass order
                                                    feature when you need to
                                                    place multiple orders at
                                                    once.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
