<div id="block_11">
    <div class="header-with-text">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-block__title style-header-text">
                        <h2 class="text-center">
                            <span style="text-align: CENTER"
                                >How to place orders</span
                            >
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-block__description style-header-text">
                        <p class="text-center">
                            <span style="text-align: CENTER"
                                >Follow these 4 simple steps to get started on
                                our panel and grow your business.</span
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="block_10">
    <div class="how-it-works">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="how-it-works__card">
                                <div class="card">
                                    <div class="how-it-works__card-wrap">
                                        <div
                                            class="card__icon"
                                            style="justify-content: flex-end"
                                        >
                                            <span
                                                class="card__icon-wrap"
                                                style="
                                                    height: 80px;
                                                    width: 80px;
                                                "
                                            >
                                                <span
                                                    class="
                                                        card__icon-fa
                                                        far
                                                        fa-grin-hearts
                                                    "
                                                    style="
                                                        font-size: 56px;
                                                        width: 56px;
                                                        height: 56px;
                                                        transform: rotate(0deg);
                                                        color: #14ddd7;
                                                        text-shadow: 0px 0px 0px
                                                            rgba(0, 0, 0, 1);
                                                        border-radius: 0px;
                                                        background: transparent;
                                                        padding: 0px;
                                                    "
                                                ></span>
                                            </span>
                                        </div>
                                        <div class="card__number-wrap">
                                            <div class="card__number">
                                                <div
                                                    class="
                                                        number__count
                                                        style-card-number
                                                    "
                                                    style="
                                                        width: 80px;
                                                        height: 80px;
                                                        font-size: 24px;
                                                    "
                                                >
                                                    1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__content">
                                            <div
                                                class="
                                                    content__title
                                                    style-how-it-card-title
                                                "
                                                style="
                                                    margin-bottom: 8px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    <strong
                                                        style="
                                                            font-weight: bold;
                                                        "
                                                        >Register and log
                                                        in</strong
                                                    >
                                                </p>
                                            </div>
                                            <div
                                                class="
                                                    content__desc
                                                    style-how-it-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0x;
                                                "
                                            >
                                                <p>
                                                    First of all, make sure to
                                                    create an account and log
                                                    in.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="
                                        how-it-works__card-line
                                        style-card-number-line
                                    "
                                ></div>
                            </div>
                            <div class="how-it-works__card">
                                <div class="card">
                                    <div class="how-it-works__card-wrap">
                                        <div
                                            class="card__icon"
                                            style="justify-content: flex-start"
                                        >
                                            <span
                                                class="card__icon-wrap"
                                                style="
                                                    height: 80px;
                                                    width: 80px;
                                                "
                                            >
                                                <span
                                                    class="
                                                        card__icon-fa
                                                        far
                                                        fa-money-bill-wave-alt
                                                    "
                                                    style="
                                                        font-size: 56px;
                                                        width: 56px;
                                                        height: 56px;
                                                        transform: rotate(0deg);
                                                        color: #1a87ff;
                                                        text-shadow: 0px 0px 0px
                                                            rgba(0, 0, 0, 1);
                                                        border-radius: 0px;
                                                        background: transparent;
                                                        padding: 0px;
                                                    "
                                                ></span>
                                            </span>
                                        </div>
                                        <div class="card__number-wrap">
                                            <div class="card__number">
                                                <div
                                                    class="
                                                        number__count
                                                        style-card-number
                                                    "
                                                    style="
                                                        width: 80px;
                                                        height: 80px;
                                                        font-size: 24px;
                                                    "
                                                >
                                                    2
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__content">
                                            <div
                                                class="
                                                    content__title
                                                    style-how-it-card-title
                                                "
                                                style="
                                                    margin-bottom: 8px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    <strong
                                                        style="
                                                            font-weight: bold;
                                                        "
                                                        >Add funds</strong
                                                    >
                                                </p>
                                            </div>
                                            <div
                                                class="
                                                    content__desc
                                                    style-how-it-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0x;
                                                "
                                            >
                                                <p>
                                                    Add funds to your account
                                                    via a payment method you
                                                    want.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="
                                        how-it-works__card-line
                                        style-card-number-line
                                    "
                                ></div>
                            </div>
                            <div class="how-it-works__card">
                                <div class="card">
                                    <div class="how-it-works__card-wrap">
                                        <div
                                            class="card__icon"
                                            style="justify-content: flex-end"
                                        >
                                            <span
                                                class="card__icon-wrap"
                                                style="
                                                    height: 80px;
                                                    width: 80px;
                                                    border-top-left-radius: 0px;
                                                    border-bottom-left-radius: 0px;
                                                    border-top-right-radius: 0px;
                                                    border-bottom-right-radius: 0px;
                                                "
                                            >
                                                <span
                                                    class="
                                                        card__icon-fa
                                                        far
                                                        fa-dollar-sign
                                                    "
                                                    style="
                                                        font-size: 56px;
                                                        width: 56px;
                                                        height: 56px;
                                                        transform: rotate(0deg);
                                                        color: #ffc157;
                                                        text-shadow: 0px 0px 0px
                                                            rgba(0, 0, 0, 1);
                                                        border-radius: 0px;
                                                        background: transparent;
                                                        padding: 0px;
                                                    "
                                                ></span>
                                            </span>
                                        </div>
                                        <div class="card__number-wrap">
                                            <div class="card__number">
                                                <div
                                                    class="
                                                        number__count
                                                        style-card-number
                                                    "
                                                    style="
                                                        width: 80px;
                                                        height: 80px;
                                                        font-size: 24px;
                                                    "
                                                >
                                                    3
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__content">
                                            <div
                                                class="
                                                    content__title
                                                    style-how-it-card-title
                                                "
                                                style="
                                                    margin-bottom: 8px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    <strong
                                                        style="
                                                            font-weight: bold;
                                                        "
                                                        >Pick SMM
                                                        services</strong
                                                    >
                                                </p>
                                            </div>
                                            <div
                                                class="
                                                    content__desc
                                                    style-how-it-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0x;
                                                "
                                            >
                                                <p>
                                                    Pick the SMM services you
                                                    want and easily place your
                                                    orders.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="
                                        how-it-works__card-line
                                        style-card-number-line
                                    "
                                ></div>
                            </div>
                            <div class="how-it-works__card">
                                <div class="card">
                                    <div class="how-it-works__card-wrap">
                                        <div
                                            class="card__icon"
                                            style="justify-content: flex-start"
                                        >
                                            <span
                                                class="card__icon-wrap"
                                                style="
                                                    height: 80px;
                                                    width: 80px;
                                                "
                                            >
                                                <span
                                                    class="
                                                        card__icon-fa
                                                        far
                                                        fa-user-check
                                                    "
                                                    style="
                                                        font-size: 56px;
                                                        width: 56px;
                                                        height: 56px;
                                                        transform: rotate(0deg);
                                                        color: #ff4587;
                                                        text-shadow: 0px 0px 0px
                                                            rgba(0, 0, 0, 1);
                                                        border-radius: 0px;
                                                        background: transparent;
                                                        padding: 0px;
                                                    "
                                                ></span>
                                            </span>
                                        </div>
                                        <div class="card__number-wrap">
                                            <div class="card__number">
                                                <div
                                                    class="
                                                        number__count
                                                        style-card-number
                                                    "
                                                    style="
                                                        width: 80px;
                                                        height: 80px;
                                                        font-size: 24px;
                                                    "
                                                >
                                                    4
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__content">
                                            <div
                                                class="
                                                    content__title
                                                    style-how-it-card-title
                                                "
                                                style="
                                                    margin-bottom: 8px;
                                                    padding-top: 0px;
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    <strong
                                                        style="
                                                            font-weight: bold;
                                                        "
                                                        >Instant results</strong
                                                    >
                                                </p>
                                            </div>
                                            <div
                                                class="
                                                    content__desc
                                                    style-how-it-card-desc
                                                "
                                                style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                "
                                            >
                                                <p>
                                                    We'll inform you as soon as
                                                    your order is complete.
                                                    Enjoy amazing results!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="
                                        how-it-works__card-line
                                        style-card-number-line
                                    "
                                ></div>
                                <iframe width="100%" style="min-height: 250px;" src="https://www.youtube.com/embed/iirmROWGNrY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .style-card-number-line {
        background: linear-gradient(
            to bottom,
            rgba(18, 11, 46, 1) 0%,
            rgba(31, 11, 108, 1) 100%
        );
    }
    .card__number-wrap {
        width: 80px;
        height: 80px;
        font-size: 24px;
        flex: 1.4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .style-card-number {
        background: linear-gradient(
            to bottom,
            rgba(18, 11, 46, 1) 0%,
            rgba(31, 11, 108, 1) 100%
        );
        border-color: rgba(31, 11, 108, 0.2);
    }
</style>
