<div id="block_12">
    <div class="reviews-block">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="reviews-block__title style-review-card-title">
                        <h2
                            style="
                                font-size: 40px !important;
                                line-height: 56px;
                                letter-spacing: 0px;
                                font-weight: 700;
                                font-style: normal;
                                color: #052a36;
                                font-family: Barlow;
                            "
                        >
                            Our customers' success stories
                        </h2>
                    </div>
                    <div class="reviews-block__desc style-review-card-desc">
                        <p>
                            Don't know what to expect when placing orders on our
                            panel? See our customers' reviews below!
                        </p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-reviews__card">
                                <div class="card card__reviews">
                                    <div
                                        class="
                                            item__desc
                                            style-review-card-desc
                                        "
                                        style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                            margin-bottom: 16px;
                                        "
                                    >
                                        <p>
                                            If you're a business owner, you know
                                            what it's like when you have a lot
                                            going on at once and you can't find
                                            extra time to grow your social media
                                            accs. It can also get kinda pricey
                                            when you hire an SMM agency to do it
                                            for you. But this SMM panel helped
                                            me so much!
                                        </p>
                                    </div>
                                    <div
                                        class="
                                            item__author
                                            style-review-card-author
                                        "
                                        style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                        "
                                    >
                                        <p>
                                            <span
                                                ><strong
                                                    style="font-weight: bold"
                                                    >Aesha Barad</strong
                                                ></span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-reviews__card">
                                <div class="card card__reviews">
                                    <div
                                        class="
                                            item__desc
                                            style-review-card-desc
                                        "
                                        style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                            margin-bottom: 16px;
                                        "
                                    >
                                        <p>
                                            SMM services I got here did exactly
                                            what I expected them to do — they
                                            helped my business get more
                                            attention and increased my sales.
                                            Thank you!
                                        </p>
                                    </div>
                                    <div
                                        class="
                                            item__author
                                            style-review-card-author
                                        "
                                        style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                        "
                                    >
                                        <p>
                                            <span
                                                ><strong
                                                    style="font-weight: bold"
                                                    >Reese Owens</strong
                                                ></span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-reviews__card">
                                <div class="card card__reviews">
                                    <div
                                        class="
                                            item__desc
                                            style-review-card-desc
                                        "
                                        style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                            margin-bottom: 16px;
                                        "
                                    >
                                        <p>
                                            Guys, this SMM panel is the real
                                            deal! I really needed some SMM
                                            services to grow my business online
                                            but every SMM agency I found asked
                                            for super big prices. Now that I
                                            found this panel, I can save a lot
                                            of money.
                                        </p>
                                    </div>
                                    <div
                                        class="
                                            item__author
                                            style-review-card-author
                                        "
                                        style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                        "
                                    >
                                        <p>
                                            <span
                                                ><strong
                                                    style="font-weight: bold"
                                                    >Asil Kocak</strong
                                                ></span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 co-sm-12">
                            <div class="block-reviews__card">
                                <div class="card card__reviews">
                                    <div
                                        class="
                                            item__desc
                                            style-review-card-desc
                                        "
                                        style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                            margin-bottom: 16px;
                                        "
                                    >
                                        <p>
                                            This panel is a goldmine for people
                                            who do SMM for a living! Not only is
                                            it super cheap, but the services
                                            offered here work really well, which
                                            helps me save a lot of my time and
                                            money. Thanks!
                                        </p>
                                    </div>
                                    <div
                                        class="
                                            item__author
                                            style-review-card-author
                                        "
                                        style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                        "
                                    >
                                        <p>
                                            <span
                                                ><strong
                                                    style="font-weight: bold"
                                                    >Deepak Puri</strong
                                                ></span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        border-color: #000000;
        background: #ffffff;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-style: none;
        box-shadow: 0 16px 24px 0 rgb(0 0 0 / 8%);
    }
</style>
