<div id="block_37">
    <div class="totals">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container-fluid">
            <div class="row align-items-start justify-content-center">
                <div class="col-lg-4 col-md-6 mb-2 mt-2">
                    <div
                        class="card h-100"
                        style="padding-top: 24px; padding-bottom: 24px"
                    >
                        <div class="totals-block__card">
                            <div class="totals-block__card-left">
                                <div
                                    class="
                                        totals-block__icon-preview
                                        style-bg-primary-alpha-10
                                        style-border-radius-default
                                        style-text-primary
                                    "
                                >
                                    <span
                                        class="
                                            totals-block__icon
                                            style-text-primary
                                            far
                                            fa-list-ul
                                        "
                                        style="
                                            font-size: 38px;
                                            transform: rotate(0deg);
                                            text-shadow: none;
                                            border-radius: 0px;
                                        "
                                    ></span>
                                </div>
                            </div>
                            <div class="totals-block__card-right">
                                <div class="totals-block__count">
                                    <div
                                        class="
                                            totals-block__count-value
                                            style-text-primary
                                        "
                                        style="
                                            font-size: 36px;
                                            line-height: 36px;
                                        "
                                    >
                                        774
                                    </div>
                                </div>
                                <div class="totals-block__card-name">
                                    <p>Total services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2 mt-2">
                    <div
                        class="card h-100"
                        style="padding-top: 24px; padding-bottom: 24px"
                    >
                        <div class="totals-block__card">
                            <div class="totals-block__card-left">
                                <div
                                    class="
                                        totals-block__icon-preview
                                        style-bg-primary-alpha-10
                                        style-border-radius-default
                                        style-text-primary
                                    "
                                >
                                    <span
                                        class="
                                            totals-block__icon
                                            style-text-primary
                                            far
                                            fa-clipboard-list
                                        "
                                        style="
                                            font-size: 38px;
                                            transform: rotate(0deg);
                                            text-shadow: none;
                                            border-radius: 0px;
                                        "
                                    ></span>
                                </div>
                            </div>
                            <div class="totals-block__card-right">
                                <div class="totals-block__count">
                                    <div
                                        class="
                                            totals-block__count-value
                                            style-text-primary
                                        "
                                        style="
                                            font-size: 36px;
                                            line-height: 36px;
                                        "
                                    >
                                        196055
                                    </div>
                                </div>
                                <div class="totals-block__card-name">
                                    <p>Total orders</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
