<div class="wrapper-content__footer">
    <div id="block_22">
        <div class="footer">
            <div class="component_footer_single_line">
                <div class="component-footer">
                    <div class="component-footer__public">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div
                                        class="
                                            component-footer__public-copyright
                                        "
                                    >
                                        <p class="text-center">
                                            <span style="text-align: CENTER"
                                                >© Copyright. All Rights
                                                Reserved.</span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .component-footer__public {
        color: #ffffff;
        min-height: 64px;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: none;
        background: #170c43;
    }
</style>
