{% load static %}
<div id="block_35">
    <div class="block-wrapper">
        <div class="component_navbar">
            <div class="component-navbar__wrapper">
                <div
                    class="
                        sidebar-block__top
                        component-navbar component-navbar__navbar-public
                        editor__component-wrapper
                    "
                >
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="sidebar-block__top-brand">
                                <div class="component-navbar-logo">
                                    <a href="{% url 'home' %}">
                                        <img
                                            src="{% static 'images/logopromotionamro.jpeg' %}"
                                            class="sidebar-block__top-logo"
                                            alt=""
                                            title=""
                                        />
                                    </a>
                                </div>
                            </div>
                            <button
                                class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbar-collapse-35"
                                aria-controls="navbar-collapse-35"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                            >
                                <span class="navbar-burger">
                                    <span class="navbar-burger-line"></span>
                                </span>
                            </button>
                            <div
                                class="collapse navbar-collapse"
                                id="navbar-collapse-35"
                            >
                                <div
                                    class="
                                        d-flex
                                        flex-wrap
                                        component-navbar-collapse
                                    "
                                >
                                    <ul class="navbar-nav">
                                        <li
                                            class="
                                                nav-item
                                                component-navbar-nav-item
                                                component_navbar
                                                component-navbar-public-nav-item
                                            "
                                        >
                                            <a
                                                class="
                                                    component-navbar-nav-link
                                                    component-navbar-nav-link__navbar-public
                                                    component-navbar-nav-link-active__navbar-public
                                                "
                                                href="{% url 'login' %}"
                                                ><i
                                                    class="
                                                        navbar-icon
                                                        fad
                                                        fa-user
                                                    "
                                                ></i>
                                                Sign in</a
                                            >
                                        </li>
                                        <li
                                            class="
                                                nav-item
                                                component-navbar-nav-item
                                                component_navbar
                                                component-navbar-public-nav-item
                                            "
                                        >
                                            <a
                                                class="
                                                    component-navbar-nav-link
                                                    component-navbar-nav-link__navbar-public
                                                "
                                                href="{% url 'services' %}"
                                                ><i
                                                    class="
                                                        navbar-icon
                                                        fas
                                                        fa-bars
                                                    "
                                                ></i>
                                                Services</a
                                            >
                                        </li>
                                        <!-- <li
                                            class="
                                                nav-item
                                                component-navbar-nav-item
                                                component_navbar
                                                component-navbar-public-nav-item
                                            "
                                        >
                                            <a
                                                class="
                                                    component-navbar-nav-link
                                                    component-navbar-nav-link__navbar-public
                                                "
                                                href="/api"
                                                ><i
                                                    class="
                                                        navbar-icon
                                                        fad
                                                        fa-network-wired
                                                    "
                                                ></i>
                                                API</a
                                            >
                                        </li> -->
                                        <li
                                            class="
                                                nav-item
                                                component-navbar-nav-item
                                                component_navbar
                                                component-navbar-public-nav-item
                                            "
                                        >
                                            <a
                                                class="
                                                    component-navbar-nav-link
                                                    component-navbar-nav-link__navbar-public
                                                "
                                                href="{% url 'register' %}"
                                                ><i
                                                    class="
                                                        navbar-icon
                                                        fas
                                                        fa-user-friends
                                                    "
                                                ></i>
                                                Sign up</a
                                            >
                                        </li>
                                        <li
                                            class="
                                                nav-item
                                                component-navbar-nav-item
                                                component_navbar
                                                component-navbar-public-nav-item
                                            "
                                        >
                                        <!-- href="/start-your-own-buisness" -->
                                            <a
                                                class="
                                                    component-navbar-nav-link
                                                    component-navbar-nav-link__navbar-public
                                                "
                                                href="{% url 'terms_page' %}"
                                                ><i
                                                    class="
                                                        navbar-icon
                                                        fad
                                                        fa-book
                                                    "
                                                ></i>
                                                Terms</a
                                            >
                                        </li>
                                        <li
                                            class="
                                                nav-item
                                                component-navbar-nav-item
                                                component_navbar
                                                component-navbar-public-nav-item
                                            "
                                        >
                                            <a
                                                class="
                                                    component-navbar-nav-link
                                                    component-navbar-nav-link__navbar-public
                                                "
                                                href="{% url 'about' %}"
                                                ><i
                                                    class="
                                                        navbar-icon
                                                        fas
                                                        fa-comment-exclamation
                                                    "
                                                ></i>
                                                About</a
                                            >
                                        </li>
                                    </ul>
                                    <!-- <div
                                        class="
                                            navbar-languages
                                            component_navbar_dropdown
                                        "
                                    >
                                        <div class="navbar-dropdown">
                                            <div
                                                class="
                                                    navbar-dropdown__name
                                                    navbar-dropdown__toggle
                                                "
                                            >
                                                en
                                            </div>
                                            <ul
                                                class="
                                                    navbar-dropdown__container
                                                "
                                            >
                                                <li
                                                    class="
                                                        navbar-dropdown__item
                                                    "
                                                >
                                                    <a
                                                        href="/hi"
                                                        class="
                                                            navbar-dropdown__link
                                                        "
                                                        >Hindi</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
