{% extends 'base.html' %} {% block title %}About us {% endblock title %}
<p></p>
{% block content %}
<div class="wrapper wrapper-navbar">
    {% include 'components/header.html' %}
    <div class="wrapper-content" style="background:#190c4c">
        <div class="wrapper-content__header"></div>
        <div class="wrapper-content__body"  >
            <!-- Main variables *content* -->
            <div id="block_78">
                <div class="text-block">
                    <div class="bg"></div>
                    <div class="divider-top"></div>
                    <div class="divider-bottom"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div
                                    class="
                                        text-block__description
                                        style-text-white
                                    "
                                >
                                    <p class="text-center text-white">
                                        SMM (Social Media Marketing) is the use
                                        of social media platforms such as
                                        Instagram, Facebook, Twitter, Youtube
                                        and many more to promote yourself or
                                        your company. If you are looking for a
                                        way to boost your online presence, then
                                        your best choice is our SMM panel where
                                        we offer services to help you boost your
                                        online presence across all social media
                                        platforms at the cheapest prices.
                                    </p>
                                    <p><br /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'components/footer.html' %}
    </div>
</div>
{% endblock content %}
