{% extends 'base.html' %} 
{% load  get_conf %}

{% block title %}Dashboard {% site_name %}{% endblock title %}

{% block content %}
<div class="wrapper wrapper-sidebar-navbar">
    {% include 'components/dashboard_leftsidebar.html' %}

    <div class="wrapper-content">
        <div class="wrapper-content__header"></div>
        <div class="wrapper-content__body">
            {% include 'components/dashboard_herosection.html' %}
            <div />
  
            <div id="block_13">
                <div class="new_order-block">
                    <div class="bg"></div>
                    <div class="divider-top"></div>
                    <div class="divider-bottom"></div>
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-lg-7 mb-3 mb-lg-0">
                                <div
                                    class="component_form_group component_card component_radio_button"
                                >
                                {% if messages %}
                                
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {% for message in messages %}
                                    <h3>Your order has been placed</h3>
                                    {{message|safe}}
                                   {% endfor %}

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                {% endif %}
                                    <div class="card">
                                        <form
                                            action="{% url 'dashboard' %}"
                                            method="post"
                                            id="order-form"
                                        >
                                            <div class="component_button_forms">
                                                {% if error_message %}

                                            <div class="text-sm my-1 text-danger">
                                                {{error_message}}
                                            </div>
                                            {% endif %}
                                                <div class="form-group">
                                                    <label
                                                        for="orderform-category"
                                                        class="control-label"
                                                        >Category</label
                                                    >
                                                    <select
                                                        class="form-control"
                                                        id="orderform-category"
                                                        name="OrderForm[category]"
                                                        onchange="catChange(this)"
                                                    >
                                                        {% for category in categories %}

                                                        <option
                                                            value="{{category.id}}"
                                                        >
                                                            {{category.name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="orderform-service"
                                                        class="control-label"
                                                        >Service</label
                                                    >
                                                    <select
                                                        class="form-control"
                                                        id="orderform-service"
                                                        name="service"
                                                        onchange="serviceChange(this)"
                                                    >
                                                        {% for category in categories %} 
                                                            {% if forloop.first %} 
                                                                {% for service in category.services %}

                                                                        <option
                                                                            value="{{service.id}}"
                                                                        >
                                                                                <span class="badge" > [{{service.id}}]</span> - ➤   {{service.name}} - ₹{{service.rate}} per 1000
                                                                        </option>
                                                                {% endfor %}
                                                            {% endif %} 
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div
                                                    class="form-group fields component_service_description"
                                                    id="service_description"
                                                >
                                                    <label
                                                        for="service_description"
                                                        class="control-label"
                                                        >Description</label
                                                    >
                                                    <div
                                                    class=" form-control panel-description"
                                                    style="height: auto;"
                                                    >
                                                    {% for category in categories %} 
                                                    {% if forloop.first %} 
                                                        {% for service in category.services %}
                                                        {% if forloop.first %} 
                                                            {{service.description}}
                                                    {% endif %} 

                                                        {% endfor %}
                                                    {% endif %} 
                                                {% endfor %}
                                                    </div>
                                                </div>
                                                <div id="fields">
                                                    <div
                                                        class="form-group fields"
                                                        id="order_link"
                                                    >
                                                        <label
                                                            class="control-label"
                                                            for="field-orderform-fields-link"
                                                            >Link</label
                                                        >
                                                        <input
                                                            class="form-control"
                                                            name="link"
                                                            placeholder="Enter account link"
                                                            value=""
                                                            required
                                                            type="url"
                                                            id="field-orderform-fields-link"
                                                        />
                                                    </div>
                                                    <div
                                                        class="form-group fields"
                                                        id="order_quantity"
                                                    >
                                                        <label
                                                            class="control-label"
                                                            for="field-orderform-fields-quantity"
                                                            >Quantity</label
                                                        >
                                                        <!-- onchange="detectPriceChange(this)" -->
                                                        <input
                                                            class="form-control quantity"
                                                            name="quantity"
                                                            oninput="detectPriceChange(this)"
                                                            type="number"
                                                            placeholder="Enter quantity "

                                                            required
                                                            id="field-orderform-fields-quantity"
                                                        /><small
                                                            class="help-block min-max"
                                                            ></small
                                                        >
                                                    </div>
                                                    <div
                                                        class="form-group fields"
                                                        id="order_average_time"
                                                        style="display: block"
                                                    >
                                                        <label
                                                            class="control-label"
                                                            for="#e"
                                                            >Average time
                                                            <span
                                                                class="ml-1 mr-1 fa fa-exclamation-circle"
                                                                data-toggle="tooltip"
                                                                data-placement="right"
                                                                title=""
                                                                data-original-title="The average time is based on 10 latest completed orders per 1000 quantity."
                                                            >
                                                            </span>
                                                        </label>
                                                        <input
                                                            class="form-control"
                                                            readonly=""
                                                            value=""
                                                            type="text"
                                                            id="field-orderform-fields-average_time"
                                                            disabled=""
                                                        />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="charge"
                                                        class="control-label"
                                                        >Charge</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="charge"
                                                        value=""
                                                        placeholder="Price will be shown her for your service"
                                                        readonly=""
                                                    />
                                                </div>
                                            </div>
                                           {% csrf_token %}
                                           
                                            <div
                                                class="new-order-button-submit component_button_submit"
                                            >
                                                <button
                                                    type="submit"
                                                    class="btn btn-primary"
                                                >
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% include 'components/dashboard_rightformcontainer.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @media (max-width: 991px) {
        .wrapper-sidebar-navbar {
            flex-direction: column;
        }
    }
</style>

<script>
    let services_data = [];
    let categories_data = [];
    const panel_description = document.querySelector(".panel-description");
    const min_max = document.querySelector(".min-max");
    const average_time = document.querySelector("#field-orderform-fields-average_time");
    var quantity = document.getElementById("field-orderform-fields-quantity");
    const charge = document.querySelector("#charge");
    var select = document.getElementById("orderform-service");
    const link = document.getElementById('field-orderform-fields-link')
    const category = document.getElementById('orderform-service')

    console.log(category)

    // services get
    const getServices = async () => {
        try {
            await fetch("/services_res")
                .then((res) => res.json())
                .then((res) => {
                    services_data = res;
                });
            console.log(services_data, "sdata");
        } catch (error) {
            console.log(error);
        }
    };

    // categorues get

    const getCategories = async () => {
        try {
            await fetch("/categories_res")
                .then((res) => res.json())
                .then((res) => {
                    categories_data = res;
                });
            console.log(categories_data, "cadata");
        } catch (error) {
            console.log(error);
        }
    };
    getServices();
    getCategories();

    const catChange = (e) => {
        link.value =""
        const services = services_data.filter(
            (key) => key.category === Number(e.value)
        );
        console.log(services)

        // setting category description
        panel_description.innerHTML = services[0].description

        // setting options
        select.innerHTML = ""
        services.map(key=>{
            var option = document.createElement("option");
            option.text = `${key.name} - ₹${key.rate} per 1000`;
            option.value = key.id;
            select.appendChild(option);

        })
        average_time.value = `${services[0].average_time_hours} hours ${services[0].average_time_minutes} minutes`
        min_max.innerHTML= `Min: ${services[0].min_order} - Max: ${services[0].max_order} `
        quantity.min = services[0].min_order
        quantity.max = services[0].max_order
        
    };

    const serviceChange = (e) => {
        link.value =""
        
        const services = services_data.filter(
            (key) => key.id === Number(e.value)
        );

        // min max set
        min_max.innerHTML= `Min: ${services[0].min_order} - Max: ${services[0].max_order} `

        // Average time
        average_time.value = `${services[0].average_time_hours} hours ${services[0].average_time_minutes} minutes`

        // setting category description
        panel_description.innerHTML = services[0].description

    };


    const detectPriceChange  = (e)=>{
        const services = services_data.filter(
            (key) => key.id === Number(select.value)
        )[0]
        charge.value = (services.rate*e.value/1000)
    }

    window.addEventListener('load',()=>{
        const services = services_data.filter(
            (key) => key.id === Number(select.value)
        )[0]
        average_time.value = `${services.average_time_hours} hours ${services.average_time_minutes} minutes`
        min_max.innerHTML= `Min: ${services.min_order} - Max: ${services.max_order} `
        quantity.min = services.min_order
        quantity.max = services.max_order

    })

</script>

<style>
    .badge{
        background-color: gray;
        padding:3px 8px;
        border-radius: 10%;
    }
</style>
{% endblock content %}
