{% extends 'base.html' %} 
{% load static get_conf get_account_pay %}

{% block title %}Dashboard {% site_name %}{% endblock title %}

{% block content %}
<div class="wrapper wrapper-sidebar-navbar">
    <!-- Side bar -->
<div id="block_34" class="component_private_navbar">
    <span class="component_private_navbar">
        <div class="component-navbar-private__wrapper">
            <div
                class="sidebar-block__top-static component-navbar component-navbar__navbar-private editor__component-wrapper"
            >
                <div>
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="sidebar-block__top-brand">
                            <div class="component-navbar-logo items-center justify-content-center">
                                <a class="flex items-center justify-content-center" href="{% url 'dashboard' %}">
                                   
                                    <h3 class="text-white text-decoration-none underline-none text-uppercase" >  {% site_name %}</h3>
                                </a>
                            </div>
                        </div>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbar-collapse-34"
                            aria-controls="navbar-collapse-34"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-burger">
                                <span class="navbar-burger-line"></span>
                            </span>
                        </button>
                        <div
                            class="collapse navbar-collapse"
                            id="navbar-collapse-34"
                        >
                            <div class="d-flex component-navbar-collapse">
                                <ul class="navbar-nav navbar-nav-sidebar-menu">
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private component-navbar-nav-link-active__navbar-private"
                                            href="{% url 'dashboard' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-cart-plus"
                                                ></span>
                                            </span>
                                            New order
                                        </a>
                                    </li>
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'services' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fad fa-bars"
                                                ></span>
                                            </span>
                                            Services
                                        </a>
                                    </li>
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'orders' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-bags-shopping"
                                                ></span>
                                            </span>
                                            Orders
                                        </a>
                                    </li>
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/refill"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-gas-pump"
                                                ></span>
                                            </span>
                                            Refill
                                        </a>
                                    </li> -->
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'add_funds' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fab fa-cc-amazon-pay"
                                                ></span>
                                            </span>
                                            Add funds
                                        </a>
                                    </li>
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/api"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fad fa-signal-stream"
                                                ></span>
                                            </span>
                                            API
                                        </a>
                                    </li> -->
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/affiliates"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-network-wired"
                                                ></span>
                                            </span>
                                            Affiliates
                                        </a>
                                    </li> -->
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/child-panels"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fad fa-browser"
                                                ></span>
                                            </span>
                                            Child panel
                                        </a>
                                    </li> -->
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'tickets' %}"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fas fa-ticket-alt"
                                                ></span>
                                            </span>
                                            Tickets
                                        </a>
                                    </li>
                                    <!-- <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="/massorder"
                                        >
                                            <span
                                                class="component-navbar-nav-link-icon"
                                            >
                                                <span
                                                    class="fad fa-truck"
                                                ></span>
                                            </span>
                                            Mass order
                                        </a>
                                    </li> -->
                                </ul>
                                <ul class="navbar-nav navbar-nav-currencies">
                                    <li
                                        class="nav-item d-flex align-items-center component-navbar-nav-item component-navbar-private-nav-item component-navbar-balance-wrap__navbar-private"
                                    >
                                        <a
                                            class="component-navbar-balance-item__navbar-private"
                                            >₹{% get_account_balance user %}
                                        </a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav">
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'accounts' %}"
                                            >Account</a
                                        >
                                    </li>
                                    <li
                                        class="nav-item component-navbar-nav-item component-navbar-private-nav-item"
                                    >
                                        <a
                                            class="component-navbar-nav-link component-navbar-nav-link__navbar-private"
                                            href="{% url 'logout' %}"
                                            >Logout</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </span>
    <span class="component_private_sidebar">
        <div class="component-sidebar_wrapper">
            <div
                class="sidebar-block__left component-sidebar component-sidebar-with-navbar editor__component-wrapper component_private_navbar"
            >
                <div class="component-sidebar__menu-wrapper">
                    <div class="sidebar-block__top-brand">
                        <div class="component-navbar-logo">
                            <a href="{% url 'dashboard' %}">
                                <img
                                    src="{% logo %}"
                                    class="sidebar-block__top-logo"
                                    alt=""
                                    title=""
                                />
                            </a>
                        </div>
                    </div>
                    <ul
                        class="component-sidebar__menu sidebar-block__left-menu"
                    >
                        <li
                            class="component-sidebar__menu-item component-sidebar__menu-item-active"
                        >
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'dashboard' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-cart-plus"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >New order</span
                                >
                            </a>
                        </li>
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'services' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fad fa-bars"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Services</span
                                >
                            </a>
                        </li>
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'orders' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-bags-shopping"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Orders</span
                                >
                            </a>
                        </li>
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/refill"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-gas-pump"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Refill</span
                                >
                            </a>
                        </li> -->
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'add_funds' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fab fa-cc-amazon-pay"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Add funds</span
                                >
                            </a>
                        </li>
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'api' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fad fa-signal-stream"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >API</span
                                >
                            </a>
                        </li>
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/affiliates"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-network-wired"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Affiliates</span
                                >
                            </a>
                        </li> -->
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/child-panels"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fad fa-browser"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Child panel</span
                                >
                            </a>
                        </li> -->
                        <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="{% url 'tickets' %}"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fas fa-ticket-alt"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Tickets</span
                                >
                            </a>
                        </li>
                        <!-- <li class="component-sidebar__menu-item">
                            <a
                                class="component-sidebar__menu-item-link"
                                href="/massorder"
                            >
                                <span class="sidebar-block__menu-item-icon">
                                    <span class="fad fa-truck"></span>
                                </span>
                                <span class="component-sidebar__menu-item-name"
                                    >Mass order</span
                                >
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </span>
</div>
    <!-- Side bar -->

    <div class="wrapper-content">
        <div class="wrapper-content__header"></div>
        <div class="wrapper-content__body">
            {% include 'components/dashboard_herosection.html' %}
            <div />

            <div id="block_13">
                <div class="new_order-block">
                    <div class="bg"></div>
                    <div class="divider-top"></div>
                    <div class="divider-bottom"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-7 mb-3 mb-lg-0">
                                <div
                                    class="component_form_group component_card component_radio_button"
                                >
                                {% if messages %}
                                
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {% for message in messages %}
                                    <h3>Your order has been placed</h3>
                                    {{message|safe}}
                                   {% endfor %}

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                {% endif %}
                                    <div class="card">
                                        <form
                                            action="{% url 'dashboard' %}"
                                            method="post"
                                            id="order-form"
                                        >
                                            <div class="component_button_forms">
                                                {% if error_message %}

                                            <div class="text-sm my-1 text-danger">
                                                {{error_message}}
                                            </div>
                                            {% endif %}
                                                <div class="form-group">
                                                    <label
                                                        for="orderform-category"
                                                        class="control-label"
                                                        >Category</label
                                                    >
                                                    <select
                                                        class="form-control"
                                                        id="orderform-category"
                                                        name="OrderForm[category]"
                                                        onchange="catChange(this)"
                                                    >
                                                        {% for category in categories %}

                                                        <option
                                                            value="{{category.id}}"
                                                        >
                                                            {{category.name}}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="orderform-service"
                                                        class="control-label"
                                                        >Service</label
                                                    >
                                                    <select
                                                        class="form-control"
                                                        id="orderform-service"
                                                        name="service"
                                                        onchange="serviceChange(this)"
                                                    >
                                                        {% for category in categories %} 
                                                            {% if forloop.first %} 
                                                                {% for service in category.services %}

                                                                <option
                                                                    value="{{service.id}}"
                                                                >
                                                                    {{service.name}} - ₹{{service.rate}} per 1000
                                                                </option>
                                                                {% endfor %}
                                                            {% endif %} 
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div
                                                    class="form-group fields component_service_description"
                                                    id="service_description"
                                                >
                                                    <label
                                                        for="service_description"
                                                        class="control-label"
                                                        >Description</label
                                                    >
                                                    <div
                                                    class=" form-control panel-description"
                                                    style="height: auto;"
                                                    >
                                                    {% for category in categories %} 
                                                    {% if forloop.first %} 
                                                        {% for service in category.services %}

                                                            {{service.description}}
                                                        {% endfor %}
                                                    {% endif %} 
                                                {% endfor %}
                                                    </div>
                                                </div>
                                                <div id="fields">
                                                    <div
                                                        class="form-group fields"
                                                        id="order_link"
                                                    >
                                                        <label
                                                            class="control-label"
                                                            for="field-orderform-fields-link"
                                                            >Link</label
                                                        >
                                                        <input
                                                            class="form-control"
                                                            name="link"
                                                            placeholder="Enter account link"
                                                            value=""
                                                            required
                                                            type="url"
                                                            id="field-orderform-fields-link"
                                                        />
                                                    </div>
                                                    <div
                                                        class="form-group fields"
                                                        id="order_quantity"
                                                    >
                                                        <label
                                                            class="control-label"
                                                            for="field-orderform-fields-quantity"
                                                            >Quantity</label
                                                        >
                                                        <!-- onchange="detectPriceChange(this)" -->
                                                        <input
                                                            class="form-control quantity"
                                                            name="quantity"
                                                            oninput="detectPriceChange(this)"
                                                            type="number"
                                                            placeholder="Enter quantity "

                                                            required
                                                            id="field-orderform-fields-quantity"
                                                        /><small
                                                            class="help-block min-max"
                                                            ></small
                                                        >
                                                    </div>
                                                    <div
                                                        class="form-group fields"
                                                        id="order_average_time"
                                                        style="display: block"
                                                    >
                                                        <label
                                                            class="control-label"
                                                            for="#e"
                                                            >Average time
                                                            <span
                                                                class="ml-1 mr-1 fa fa-exclamation-circle"
                                                                data-toggle="tooltip"
                                                                data-placement="right"
                                                                title=""
                                                                data-original-title="The average time is based on 10 latest completed orders per 1000 quantity."
                                                            >
                                                            </span>
                                                        </label>
                                                        <input
                                                            class="form-control"
                                                            readonly=""
                                                            value=""
                                                            type="text"
                                                            id="field-orderform-fields-average_time"
                                                            disabled=""
                                                        />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="charge"
                                                        class="control-label"
                                                        >Charge</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="charge"
                                                        value=""
                                                        placeholder="Price will be shown her for your service"
                                                        readonly=""
                                                    />
                                                </div>
                                            </div>
                                           {% csrf_token %}
                                           
                                            <div
                                                class="new-order-button-submit component_button_submit"
                                            >
                                                <button
                                                    type="submit"
                                                    class="btn btn-primary"
                                                >
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% include 'components/dashboard_rightformcontainer.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @media (max-width: 991px) {
        .wrapper-sidebar-navbar {
            flex-direction: column;
        }
    }
</style>

<script>
    let services_data = [];
    let categories_data = [];
    const panel_description = document.querySelector(".panel-description");
    const min_max = document.querySelector(".min-max");
    const average_time = document.querySelector("#field-orderform-fields-average_time");
    var quantity = document.getElementById("field-orderform-fields-quantity");
    const charge = document.querySelector("#charge");
    var select = document.getElementById("orderform-service");


    console.log(quantity)

    // services get
    const getServices = async () => {
        try {
            await fetch("/services_res")
                .then((res) => res.json())
                .then((res) => {
                    services_data = res;
                });
            console.log(services_data, "sdata");
        } catch (error) {
            console.log(error);
        }
    };

    // categorues get

    const getCategories = async () => {
        try {
            await fetch("/categories_res")
                .then((res) => res.json())
                .then((res) => {
                    categories_data = res;
                });
            console.log(categories_data, "cadata");
        } catch (error) {
            console.log(error);
        }
    };
    getServices();
    getCategories();

    const catChange = (e) => {
        const services = services_data.filter(
            (key) => key.category === Number(e.value)
        );

        // setting category description
        panel_description.innerHTML = services[0].description

        // setting options
        select.innerHTML = ""
        services.map(key=>{
            var option = document.createElement("option");
            option.text = `${key.name} - ₹${key.rate} per 1000`;
            option.value = key.id;
            select.appendChild(option);

        })
        average_time.value = `${services[0].average_time_hours} hours ${services[0].average_time_minutes} minutes`
        min_max.innerHTML= `Min: ${services[0].min_order} - Max: ${services[0].max_order} `
        quantity.min = services[0].min_order
        quantity.max = services[0].max_order
        
    };

    const serviceChange = (e) => {
        
        const services = services_data.filter(
            (key) => key.id === Number(e.value)
        );

        // min max set
        min_max.innerHTML= `Min: ${services[0].min_order} - Max: ${services[0].max_order} `

        // Average time
        average_time.value = `${services[0].average_time_hours} hours ${services[0].average_time_minutes} minutes`

        // setting category description
        panel_description.innerHTML = services[0].description

    };


    const detectPriceChange  = (e)=>{
        const services = services_data.filter(
            (key) => key.id === Number(select.value)
        )[0]
        charge.value = (services.rate*e.value/1000)
    }

    window.addEventListener('load',()=>{
        const services = services_data.filter(
            (key) => key.id === Number(select.value)
        )[0]
        average_time.value = `${services.average_time_hours} hours ${services.average_time_minutes} minutes`
        min_max.innerHTML= `Min: ${services.min_order} - Max: ${services.max_order} `
        quantity.min = services.min_order
        quantity.max = services.max_order

    })

</script>
{% endblock content %}
