{% extends 'base.html' %} 
{% load  get_conf %}

{% block title %}Home -{% site_name %} {% endblock title %}
{% block content %}

<div class="wrapper wrapper-navbar">
    {% include 'components/header.html' %}
    <div class="wrapper-content">
        <div class="wrapper-content__header"></div>
        <div class="wrapper-content__body">
            <!-- Main variables *content* -->
            <div id="block_28" style="padding-top: 10px">
                <div class="block-signin">
                    <div class="bg"></div>
                    <div class="divider-top"></div>
                    <div class="divider-bottom"></div>
                    <!-- Sign in form -->
                    <div class="container">
                        <div class="row block-signin__aligment">
                            <div class="col-lg-8">
                                <div class="my-5 mt-2">
                                    <h1 class="text-white text-center mb-2">
                                        How to use base.htmlmaro.com website
                                    </h1>
                                    <iframe
                                        class="yt-video"
                                        width="100%"
                                        src="https://www.youtube.com/embed/iirmROWGNrY"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen
                                    ></iframe>
                                </div>
                                <div class="block-signin__card component_card">
                                    <div class="card">
                                        <form
                                            method="post"
                                            action="{% url 'login' %}"
                                            class="component_form_group component_checkbox_remember_me"
                                        >
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="custom-col">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input
                                                            class="form-control"
                                                            type="text"
                                                            name="username"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="custom-col">
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input
                                                            class="form-control"
                                                            type="password"
                                                            name="password"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            {% if error %}

                                            <div class="text-sm text-danger">
                                                Invaild username or password
                                            </div>
                                            {% endif %}
                                            <div class="form-row">
                                                <div class="custom-col">
                                                    <div class="form-group">
                                                        <div
                                                            class="form-group__checkbox"
                                                        >
                                                            <label
                                                                class="form-group__checkbox-label"
                                                            >
                                                                <input
                                                                    type="checkbox"
                                                                    name="LoginForm[remember]"
                                                                    id="block_28_remember_me"
                                                                />
                                                                <span
                                                                    class="checkmark"
                                                                ></span>
                                                            </label>
                                                            <label
                                                                class="form-group__label-title"
                                                                for="block_28_remember_me"
                                                                >Remember
                                                                me</label
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="custom-col">
                                                    <div class="form-group">
                                                        <div
                                                            class="sign-in__forgot"
                                                        >
                                                            <a
                                                                href="{% url 'login' %}"
                                                                >Forgot
                                                                password?</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="custom-col">
                                                    <div
                                                        class="form-group d-flex component_button_submit"
                                                    >
                                                        <button
                                                            class="btn btn-primary"
                                                            type="submit"
                                                        >
                                                            Sign in
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="custom-col">
                                                    <div
                                                        class="form-group d-flex justify-content-center"
                                                    >
                                                        <div
                                                            class="block-signin__remember"
                                                        >
                                                            <p>
                                                                Do not have an
                                                                account?
                                                            </p>
                                                            <a
                                                                class="block-signin__link"
                                                                href="{% url 'register' %}"
                                                                >Sign up</a
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Captcha -->
                                            <!-- <div
                                                class="g-recaptcha form-group"
                                                data-sitekey="6LeI5rUaAAAAAOt-b5yNJJhBqyqTM6EFjX-iSzUK"
                                            >
                                                <div
                                                    style="
                                                        width: 304px;
                                                        height: 78px;
                                                    "
                                                >
                                                    <div>
                                                        <iframe
                                                            title="reCAPTCHA"
                                                            src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeI5rUaAAAAAOt-b5yNJJhBqyqTM6EFjX-iSzUK&amp;co=aHR0cHM6Ly9zYXN0YXByb3ZpZGVyLmNvbTo0NDM.&amp;hl=en&amp;v=VZKEDW9wslPbEc9RmzMqaOAP&amp;size=normal&amp;cb=d8aub3nyqt25"
                                                            width="304"
                                                            height="78"
                                                            role="presentation"
                                                            name="a-bi36uvw13vh7"
                                                            frameborder="0"
                                                            scrolling="no"
                                                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
                                                        ></iframe>
                                                    </div>
                                                    <textarea
                                                        id="g-recaptcha-response"
                                                        name="g-recaptcha-response"
                                                        class="
                                                            g-recaptcha-response
                                                        "
                                                        style="
                                                            width: 250px;
                                                            height: 40px;
                                                            border: 1px solid
                                                                rgb(
                                                                    193,
                                                                    193,
                                                                    193
                                                                );
                                                            margin: 10px 25px;
                                                            padding: 0px;
                                                            resize: none;
                                                            display: none;
                                                        "
                                                    ></textarea>
                                                </div>
                                                <iframe
                                                    style="display: none"
                                                ></iframe>
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sign in form -->
                </div>
            </div>

            {% include 'components/try_panel.html' %}
            <div></div>
            {% include 'components/place_order.html' %}
            <div></div>
            {% include 'components/success_story.html' %}
            <div></div>
            {% include 'components/faqs.html' %}
        </div>
        {% include 'components/footer.html' %}
    </div>
</div>
<style>
    .yt-video {
        min-height: 240px;
    }
</style>
{% endblock content %}
